@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

:root {
    --extraLarge: 30px;
    --large: 20px;
    --medium: 16px;
    --small: 12px;

    --extraLight: 200;
    --light: 300;
    --semibold: 600;

    --softlines: #cccccc9e;

    --white: #EEEDED;
    --brownBlack: #5a382b;
    --brownLight: #7d5a34;

    --battleship-gray: #938B84ff;
    --poppy: #E41434ff;
    --cinereous: #A0958Cff;
    --gamboge: #EA9F3Cff;

    --green-tianguis: #3e5b29;
    --gold-genetica: #dd9f50;
    --red-subasta: #b32e3b;
}

h1,
h2,
h3,
p {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Estilos de la barra de navegación */
.navbar {
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('../background/_fondo-main-nav.jpg');
}

.navbar__content--left {
    display: flex;
    align-items: center;
    width: 85%;
}

.navbar__content--left p {
    cursor: pointer;
}

.navbar__content--left p:last-child {
    border-bottom: 2px solid red;
}

.navbar--logo {
    margin-left: 4rem;
    margin-right: 1.5rem;
    border-radius: 50%;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.navbar--logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    cursor: pointer;
}

.navbar__content--left p {
    margin-right: 22px;
}

.navbar__content--right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container {
    position: relative;
    margin-right: 2rem;
}

.hamburger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 12px;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: var(--brownBlack);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

/* Rotate the bars for the "open" state */
.menu-open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-open .bar:nth-child(2) {
    opacity: 0;
}

.menu-open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.menu-list {
    position: fixed;
    top: 0;
    left: 0;

    background: url('../background/_pic\ copia.jpg');
    background-size: cover;
    /* background-color: #000; */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    z-index: 1;

    width: 100%;
    height: 100vh;

}

.menu-open .menu-list {
    opacity: 1;
    visibility: visible;
}

.menu-top {
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.close-menu {
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu-central {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.menu-content {
    text-align: end;
    color: white;
    letter-spacing: 2px;
}

.highlight p:last-child {
    border-bottom: 2px solid red;
}

.menu-content p:nth-child(1) {
    font-weight: var(--semibold);
    font-size: var(--large);
    margin-bottom: 1rem;
    color: white;
}

.click-menu {
    cursor: pointer;
}

/*
TODO
Carousel Section
*/
.carousel-container {
    width: 100vw;
    /* height: calc(100vh - 80px); */
    margin-top: 80px;
    background-color: var(--battleship-gray);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.image-container {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease;
    overflow: hidden;
}

.image {
    width: 100%;
    object-fit: cover;
    background-color: var(--cinereous);
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation-points {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.point {
    width: 12px;
    height: 12px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
}

.point.active {
    background-color: white;
    /* Cambia el color de fondo del punto activo al color deseado */
}

.social-media {
    position: absolute;
    bottom: 20px;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
}

.social-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #5a382b;
    cursor: pointer;
}

.nav-buttons-main {
    position: absolute;
    bottom: 20px;
    right: 50px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.nav-buttons {
    position: absolute;
    bottom: 20px;
    right: 50px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.prev-button,
.next-button,
.prev-button-subasta,
.next-button-subasta {
    width: 30px;
    height: 30px;
    background-color: #888;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
}

.prev-button:hover,
.next-button:hover {
    background-color: white;
}

.nav-label {
    font-size: 16px;
    color: #888;
}

/*
TODO
Sections
*/
.title {
    font-size: var(--extraLarge);
    font-weight: var(--semibold);
    margin: 4px 0 8px 0;
    letter-spacing: .3rem;
}

.content {
    font-style: normal;
    margin: 0;
    font-size: 16px;
    width: 55%;
}

.mainButton {
    width: 140px;
    height: 50px;
    border-radius: 25px;
    font-size: 12px;
    background-color: white;
    color: black;
    border: 0;
    margin-top: 18px;
    cursor: pointer;
}

.mainButtonB {
    width: 140px;
    height: 50px;
    border-radius: 25px;
    font-size: 12px;
    background-color: black;
    color: white;
    border: 1px solid;
    margin-top: 18px;
    cursor: pointer;
}

.secondaryButton {
    width: 140px;
    height: 50px;
    border-radius: 25px;
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 18px;
    cursor: pointer;
}

.warningButton {
    width: 140px;
    height: 50px;
    border-radius: 25px;
    font-size: 12px;
    background-color: var(--red-subasta);
    color: #ffffff;
    border: 2px solid var(--gamboge);
    margin-top: 18px;
    cursor: pointer;
    font-weight: bold;
}
.buttonTienda {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 18px;
    cursor: pointer;
}

.buttonTienda:hover {
    background-color: #000;
    color: white;
}

.noticias-container,
.subastaGanadera-container,
.tianguisGanadero-container,
.ganadoGenetico-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.ganadoGenetico-container {
    background-image: url('../background/_ganado\ genetico.jpg');
    background-size: cover;
    color: white;
}

.tianguisGanadero-container {
    background-image: url('../background/_tianguis.jpg');
    background-size: cover;
    color: white;

}

.subastaGanadera-container {
    background-image: url('../background/_subasta.jpg');
    background-size: cover;
    color: white;
}

.noticias-container {
    background-image: url('../background/_noticias.jpg');
    background-size: cover;
    color: white;
}

.subastaLeft,
.tianguisLeft {
    flex: 55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
}

.noticiasRight,
.geneticoRight {
    flex: 55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3rem;
    align-items: flex-end;
}

.noticiasRight,
.geneticoRight {
    text-align: end;
}

.subastaRight,
.tianguisRight {
    flex: 45;
}

.noticiasLeft,
.geneticoLeft {
    flex: 45;
}

.subastaLeft hr,
.tianguisLeft hr {
    border: 2px solid white;
    width: 5%;
    margin-top: 0;
    margin-bottom: -6px;
    align-self: flex-start;
    margin-left: 0;
}

.noticiasRight hr,
.geneticoRight hr {
    border: 2px solid white;
    width: 5%;
    margin-top: 0;
    margin-bottom: -6px;
    align-self: flex-start;
    margin-right: 0;
}

.text-content hr{
    border: 2px solid var(--red-subasta);
    width: 10%;
    margin-top: 0;
    margin-bottom: 0px;
    align-self: flex-start;
    margin-left: 0;
}

/*
TODO
Contact
*/
.contact {
    height: auto;
    width: 100%;
    background-color: #000;
    display: flex;
    padding: 5rem 0rem;
    color: white;
    background-image: url('../background/_contacto.jpg');
    background-size: cover;
}

.left-contact,
.right-contact {
    flex: 50;
}

.left-contact {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.left-contact h1 {
    font-weight: bold;
    font-size: var(--extraLarge);
    margin: 0;
}

.social-media--contact-container {
    display: flex;
    margin-bottom: 1.5rem;
}

.info-containers {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.info-right p {
    margin: 0 1rem;
}

.info-right p:nth-child(1) {
    font-weight: bold;
}

.info-containers img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.input-with-border-bottom {
    border: none;
    border-bottom: 1px solid var(--white);
    outline: none;
    background-color: transparent;
    padding-bottom: 8px;
}

.input-with-border-bottom::placeholder {
    color: #999;
}

.right-contact div {
    width: 60%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.right-contact button {
    width: 130px;
    height: 30px;
    border-radius: 15px;
    font-size: 12px;
    background-color: var(--white);
    color: black;
    border: 0;
    margin-top: 18px;
}

/*
TODO
Footer
*/
.footer {
    height: auto;
    padding-top: 2.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    color: white;
    background-image: url('../background/_footer.jpg');
    background-size: contain;
}

.footer-right {
    width: 50%;
    display: flex;
}

.publish {
    padding-right: 1rem;
}

.publish {
    width: 50%;
    padding: 0;
}

.publish ul {
    cursor: pointer;
    list-style: none;
}

.publish li:nth-child(1),
.servicios li:nth-child(1) {
    padding-bottom: .8rem;
}

.servicios ul {
    cursor: pointer;
    list-style: none;
}

.footer-left {
    width: 50%;
}

.footer-p {
    width: 65%;
}

.footer-img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    margin-bottom: 1rem;
}

/*
TODO
Filtro de precio
*/
/* .price-filter {
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: 20px;
}

.price-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000000;
    top: 50%;
    transform: translateY(-50%);
}

.min-price-handle,
.max-price-handle {
    width:  10px;
    height: 10px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50%;
}
.min-price-handle {
    left: 0;
}
.max-price-handle {
    right: 0;
} */
.card {
    width: 100%;
}

.price-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    font-size: 14px;
    font-weight: 500;
}


.range-slider {
    width: 100%;
    position: relative;
    margin: 15px 0 30px 0;
}

.range-fill {
    height: 6px;
    background-color: #000;
    position: absolute;
    z-index: 1;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    position: absolute;
    left: -.8%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    margin-top: -6px;
    position: relative;
    z-index: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #e8e8e8;
    border-radius: 3px;
    border: none;
}

/*
TODO
Tienda
*/
.tienda-section {
    /* height: calc(100vh - 80px); */
    width: 100vw;
    margin-top: 50px;
    z-index: 1;
    position: relative;
}

.banner-main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('../background/_header-tianguis-ganadero.jpg');
    background-size: cover;
}

.banner-main-subasta {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('../background/_header-subasta-ganadera.jpg');
    background-size: cover;
}

.banner-main-genetico {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('../background/_header-tianguis-genetica.jpg');
    background-size: cover;
}

.banner-main-blog {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('../background/_header-noticias-2.jpg');
    background-size: cover;
}

.banner-main-subasta img {
    width: 60px;
    height: 60px;
    object-fit: cover;

    border-radius: 50%;
}

.banner-main img {
    width: 60px;
    height: 60px;
    object-fit: cover;

    border-radius: 50%;
}

.banner-main-genetico img {
    width: 60px;
    height: 60px;
    object-fit: cover;

    border-radius: 50%;
}

.container-tienda {
    height: auto;
    width: 100%;

    background: url('../background/_bkg.jpg');

    display: flex;
}

/*
TODO
Tienda Filtro
*/
.filtro-container {
    width: 25%;

    margin: 3rem 5rem;
}

.filtro-container-info {
    border: .2px solid rgba(43, 43, 43, 0.089);
    background-color: white;
}

.filtro-container h2 {
    text-align: center;
    margin: 12px 0;
}

.filtro-container h3 {
    margin: 12px 0;
}

.filtro-container hr {
    background-color: var(--softlines);
    height: 1px;
    border: none;
}

.filtro-container-down {
    margin: 12px 8px;
}

.filtro-container-down h3 {
    font-size: var(--medium);
    font-weight: var(--semibold);
}

.filter-preference {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.filter-preference img {
    width: 20px;
    height: 20px;

    object-fit: contain;
    margin-right: 8px;
}

.text-input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.text-input-container p {
    margin-right: 8px;
    font-size: var(--small);
}

.text-input-container input {
    margin: 0;
}

.label-dropdown {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.label-dropdown label {
    margin-right: 10px;
}

.label-dropdown select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

.range-price {
    font-size: var(--small);
    text-align: center;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
TODO
Tienda Cards
*/
.container-cards {
    margin-top: 3rem;
    width: 100%;
}

.title-container--cards {
    font-size: var(--large);
    font-weight: var(--light)
}

.container-destacadas,
.container-normal {

    overflow: hidden;
    position: relative;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}

.card-tianguis {
    border: 3px solid var(--green-tianguis);
    display: flex;
    width: 80%;
    height: 180px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
}

.border-red {
    border: 3px solid var(--red-subasta);
}

.border-gold {
    border: 3px solid var(--gold-genetica)
}

.card-tianguis--normal {
    border: 1px solid var(--cinereous);
    display: flex;
    width: 80%;
    height: 180px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
}

.img-products {
    width: 40%;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 1rem;
}

.card-description {
    width: 60%;
}

.icons {
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.icons img {
    height: auto;
    width: auto;
}

.raza,
.card-description--footer p {
    color: var(--battleship-gray);
    font-size: var(--medium);
    font-weight: var(--semibold);
}

.card-description--info {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-description--footer {
    height: 10%;
    text-align: end;
}

.description {
    color: black;
    font-size: var(--large);
    font-weight: var(--semibold);
}

.publicidad-container {
    width: 82%;
    height: 40vh;
    border-radius: 10px;
    background-image: url('../colaboradores/publi_1.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--gamboge);
}

.publicidad-container hr {
    border: 2px solid var(--gamboge);
    width: 8%;
    margin-left: 2rem;
}

.content-publicidad {
    margin-left: 2rem;
}

/* .card-description--footer p{
    font-size: var(--small);
    font-weight: var(--extraLight);
} */
/*
TODO
Tienda products
*/
.container-product--Main {
    background-color: antiquewhite;
}

.productTienda-section {
    margin-top: 80px;
    width: 100vw;
    z-index: 1;
}

.banner-product--tienda {
    height: 40vh;
    background-image: url('../background/../background/_header-tianguis-ganadero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-product--blog {
    height: 30vh;
    background-image: url('../background/../background/_header-1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-product--privacidad {
    height: 40vh;
    background-image: url('../background/../background/_header-noticias-2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-product--genetica {
    height: 40vh;
    background-image: url('../background/../background/_header-tianguis-genetica.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-product--subasta {
    height: 40vh;
    background-image: url('../background/../background/_header-subasta-ganadera.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.information-product--container {
    display: flex;
    padding-bottom: 2rem;
}

.images-product {
    width: 60%;
}

.information-product {
    width: 40%;
    padding-right: 5rem;

}

.product-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.images-various {
    display: flex;
    flex-direction: column;
}

.route {
    display: flex;
    padding: 2rem 4rem;
}

.route span {
    padding-left: 10px;
    padding-right: 10px;
}

.images-various img {
    max-width: 100%;
    height: 33.3%;
}

.main-image img {}

.container {
    width: 60%;
    padding: 0 4rem;
}

.parent {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(12, 50px);
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    overflow: hidden;
}

.left,
.right {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
}

.div4 {
    grid-area: 4 / 1 / 5 / 2;
}

.div5 {
    grid-area: 5 / 1 / 6 / 2;
}

.div6 {
    grid-area: 6 / 1 / 7 / 2;
}

.div7 {
    grid-area: 7 / 1 / 8 / 2;
}

.div8 {
    grid-area: 8 / 1 / 9 / 2;
}

.div9 {
    grid-area: 9 / 1 / 10 / 2;
}

.div10 {
    grid-area: 10 / 1 / 11 / 2;
}

.div11 {
    grid-area: 11 / 1 / 12 / 2;
}

.div12 {
    grid-area: 12 / 1 / 13 / 2;
}

.div13 {
    grid-area: 1 / 2 / 13 / 3;
}

.description-product {
    display: flex;
    height: auto;
}

.youtube-link {
    padding-top: 1rem;
}

.container-desc {
    display: grid;
    grid-template-columns: 36% 60%;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-bottom: 5rem;
}

.desc-left {
    width: 40%;
    padding-left: 4rem;
}

.desc-right {
    width: 60%;
    padding-right: 4rem;
}

.desc1 {
    grid-area: 1 / 1 / 2 / 2;
}

.desc2 {
    grid-area: 1 / 2 / 2 / 3;
}

.desc3 {
    grid-area: 2 / 1 / 3 / 2;
}

.desc4 {
    grid-area: 2 / 2 / 3 / 3;
}

.desc5 {
    grid-area: 3 / 1 / 4 / 2;
}

.desc6 {
    grid-area: 3 / 2 / 4 / 3;
}

.desc7 {
    grid-area: 4 / 1 / 5 / 2;
}

.desc8 {
    grid-area: 4 / 2 / 5 / 3;
}

.desc1,
.desc2,
.desc3,
.desc4,
.desc5,
.desc6,
.desc7,
.desc8 {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.desc1,
.desc2,
.desc5,
.desc6 {
    background: antiquewhite;
}

.container-desc span {
    font-weight: var(--semibold);
    padding-right: 10px;
    font-size: var(--medium);
}

.right-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.fullscreen-button {
    position: absolute;
    bottom: 20px;
    right: 15px;
    z-index: 1;

    background-color: antiquewhite;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    width: 29px;
    height: 29px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullscreen-button:hover {
    background-color: #f2f2f2;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.fullscreen.visible {
    opacity: 1;
    visibility: visible;
}

.fullscreen img {
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 10px;
}

.fullscreen-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullscreen .close-btn {
    position: absolute;
    top: 0rem;
    right: -2rem;
    font-size: 30px;
    color: white;
    cursor: pointer;
    user-select: none;
}

.nav-btn {
    position: absolute;
    top: 50%;
    font-size: 40px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
    transform: translateY(-50%);
}

.left-btn {
    left: 10px;
}

.right-btn {
    right: 10px;
}

.action-buttons {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
}

.action-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.whatsapp-btn {
    background-color: #25d366;
}

.whatsapp-btn:hover {
    background-color: #1da851;
}

.contact-btn {
    background-color: #ff5722;
}

.contact-btn:hover {
    background-color: #e64a19;
}

.hidden {
    display: none;
}


.desc-right hr {
    background-color: var(--softlines);
    height: 1px;
    border: none;
}

.container-reseñas {
    height: auto;
    width: 100%;

    padding-bottom: 1rem;
    padding-top: 1rem;
}

.card-reseñas {
    background-image: url('../background/_fondo-main-nav.jpg');
    padding: 1rem;
    display: flex;

    margin-bottom: 1rem;
}

.reseña {
    padding-right: 1rem;
    width: 65%;
}

.reseña-description {
    font-size: var(--medium);
    font-weight: var(--light);
}

.reseña-name {
    font-size: var(--medium);
    font-weight: var(--semibold);
}

.dierecis {
    background-image: url('../Iconos/vacaroja.png');
    background-position: center;
    background-size: 100%;
    background-position-x: 40px;
    background-repeat: no-repeat;

    width: 35%;
}

.relationated-product {
    padding: 2rem 4rem;
    background-color: antiquewhite;
}

.relationated-product-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.card-relationated {
    display: flex;
    width: 95%;
    height: 180px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
}

.interest {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: var(--large);
    font-weight: var(--semibold);
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-button a {
    text-decoration: none;
    margin-top: 18px;
    color: black;
}

/*
Styles of Modal of contact in stores
*/
#modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-image: url('../background/_header-tianguis-genetica.jpg'); */

}

.contact-form {
    width: 30%;
    height: auto;
    border-radius: 4px;
    background-color: white;
    background-image: url('../Iconos/vacaroja.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position-y: 240px;
    background-position-x: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close-menu-contact {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: -40px;
}

.close-menu-contact img {
    cursor: pointer;
}

.contact-form-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    margin-top: -50px;
}

.main-text {
    font-size: var(--large);
    font-weight: var(--light);
    text-align: center;
    margin-top: 1rem;
    line-height: 1;
}

.secondary-text {
    font-size: var(--small);
    text-align: center;
    margin: 1rem 4rem;
    line-height: 1;
}

.contact-form hr {
    background-color: var(--softlines);
    height: 1px;
    border: none;
}

#frmContactoT {
    padding: 0 2rem;
    margin-bottom: 16px;
}

.form-group {
    margin-bottom: 8px;
}

.contact-form label {
    display: block;
    font-weight: var(--light);
    font-size: var(--medium);
    margin-bottom: 0px;
}

.contact-form input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #CCC;
    outline: none;
}

.contact-form input::placeholder {
    color: #ccc;
}

.contact-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #CCC;
    outline: none;
}

.mainButtonC {
    margin: 0 auto;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    font-size: 12px;
    background-color: black;
    color: white;
    border: 0;
    margin-top: 1rem;
}

@media screen and (max-width: 767px) {
    .contact-form {
        width: 90%;
    }
}

/*
    Styles of Modal of subastas
*/
.container-subastas {
    width: 100%;
    height: 350px;
    display: flex;
    padding-left: 3rem;
}

.carousel-container-subastas {
    width: 50vw;
    background-color: var(--battleship-gray);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.information-product-subasta {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
}

.information-product-subasta hr {
    width: 80%;
}

.ofertas-time,
.precios {
    display: flex;
    align-items: center;
}

.image-subasta {
    width: 100%;
    object-fit: cover;
    background-color: var(--cinereous);
}

.image-subasta img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.publicidad-container-subasta {
    width: 80%;
    margin: 0 auto;
    height: 40vh;
    border-radius: 10px;
    background-image: url('../background/_espacio-publicitario.jpg');
    background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.carousel-subasta {
    display: flex;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
}

.nav-buttons-subasta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 93vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    z-index: 6;
}

.prev-button-subasta,
.next-button-subasta {
    cursor: pointer;
}

/* Estilos de apartado de políticas de privacidad, cookies, etc. */
.privacidad-container {
    display: flex;
    flex-direction: column;
    padding: .5rem 4rem;
}

.privacidad-container h1 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}

.number {
    list-style: auto;
    padding-bottom: 1rem;
}

.black-dot {
    list-style: disc;
    padding-bottom: .5rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/*Estilos para las suscripciones*/
.container-payment {
    height: 90%;
    width: 65%;
    margin: 0 auto;
    background-color: #f7f1f1;
    font-size: var(--large);
}

.container-vaquita {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gold-genetica);
}

.container-vaquita p {
    text-align: center;
    color: white;
    font-size: var(--extraLarge);
}

.container-vaquita img {
    width: 40%;
    height: 90%;
    object-fit: cover;
}

.suscription {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
}

.payment-detail {
    width: 90%;
    margin: 0 auto;
}

.card-details {
    display: flex;
    align-items: center;
}

.card-details p {
    width: 100%;
    text-align: center;
}

/*
TODO
Blog
*/
.container-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto;

    width: 100%;

    background: url('../background/_bkg.jpg');

}
.container-blog-related {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto;

    width: 100%;

    /* background: url('../background/_bkg.jpg'); */

}

.card-blog {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    overflow: hidden;
    width: 90%;
    max-width: 1060px;
}

.card-blog img {
    width: 40%;
    object-fit: cover;
}

.text-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../Iconos/vacaroja.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 10px 10px 0;
    z-index: 1;
    position: relative;
}

.text-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: -1;
}

.text-content h2 {
    margin: 0 0 10px;
    font-size: var(--large);
    color: #333;
}

.text-content p {
    margin: 0 0 20px;
    color: #666;
    font-size: var(--small);
}

.text-content button {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.text-content button:hover {
    background-color: #333;
}

.container-notice{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.container-related--blog{
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.container-notice header {
    text-align: center;
    margin-bottom: 20px;
}

.container-notice header h1{
    font-size: var(--extraLarge);
    color: #333;
}

.date-author{
    font-size: var(--medium);
    color: #666;
}

.date-author a {
     color: #999;
    text-decoration: none;
}

.imageNoticeContainer{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    height: 40vh;
}

.imageNoticeContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentNews{
    display: flex;
    justify-content: space-between;
}

.text-block p {
    width: 95%;
    font-size: var(--small);
    color: #333;
    line-height: 1.6;
    font-weight: var(--semibold);
    text-align: center;
}

.separator {
    width: 1px;
    background-color:
  #ccc;
  margin: 0 10px;
}
.quote{
    font-size: var(--extraLarge);
    font-weight: bold;
    text-align: center;
    margin: 40px 0;
    color: #333;
}
.quote::before, .quote::after {
    content: '"';
    color: #e74c3c;
    font-size: var(--extraLarge);
}
.heading{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
}
